<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <title>TrollMarket</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/w3.css}"/>
    <link rel="icon" href="@{/image/TrollMarket.jpg" type="image/ico"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/js/site.js}" defer></script>
</head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>

<h1 class="bread-crumbs w3-large">Profile</h1>
<!-- Breadcrumbs -->

<div class="content">
    <table class="trleft" th:object="${profile}">
        <thead>

        </thead>
        <tbody>
        <tr class="trleft">
            <td>Name</td>
            <td>:</td>
            <td id="fullName" th:text="*{fullName}">fullName</td>
        </tr>
        <tr class="trleft">
            <td>Role</td>
            <td>:</td>
            <td id="role" th:text="*{role}">role</td>
        </tr>
        <tr class="trleft">
            <td>Address</td>
            <td>:</td>
            <td id="address" th:text="*{address}">address</td>
        </tr>
        <tr class="trleft">
            <td>Phone</td>
            <td>:</td>
            <td id="phone" th:text="*{phone}">phone</td>
        </tr>
        <tr class="trleft">
            <td>Balance</td>
            <td>:</td>
            <td id="balance" th:text="*{balance}">balance</td>
            <td>
                <button class="w3-button w3-black" id="myBtn">Add Balance</button>
            </td>
        </tr>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">

                <form action="@{/profile/addBalance}" method="post">
<!--                    <input type="hidden" name="id" th:text="*{userId}" readonly>-->
                    <p>Add Balance Amount : </p>
<!--                    <input type="text" name="balance" th:text="*{balance}" readonly>-->
                    <input type="number" th:field="*{balance}" placeholder="Enter amount">
<!--                    <input type="submit" value="Add">-->
                </form>

<!--                <input type="text" id="fname" name="fname">-->
<!--                <div><br>-->
                    <button class="w3-button w3-black"> Add Balance</button>
                    <button class="w3-button w3-black close">Cancel</button>
<!--                </div>-->

            </div>

        </div>

        </tbody>
    </table>

</div>

<!-- Header with full-height image -->

<table class="table">
    <tbody>
    <tr class="table-header trcenter">
        <th>Date</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Shipment</th>
        <th>Total Price</th>
    </tr>

    <tr class="table-row trcenter" th:each="historyPurcase : ${historyPurcase}">
        <td th:text="${historyPurcase.historyDate}"></td>
        <td th:text="${historyPurcase.productName}"></td>
        <td th:text="${historyPurcase.quantity}"></td>
        <td th:text="${historyPurcase.shipVia}"></td>
        <td th:text="${historyPurcase.totalPrice}"></td>
    </tr>
    </tbody>
</table>

<!-- Footer -->

<footer th:replace="~{layout :: footer}"></footer>

</body>
</html>
