<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>

<h1 class="bread-crumbs w3-large">Profile</h1>
<!-- Breadcrumbs -->

<div class="content">
    <table class="trleft" th:object="${profile}">
        <thead>

        </thead>
        <tbody>
        <tr class="trleft">
            <td>Name</td>
            <td id="fullName" th:text="*{fullName}">fullName</td>
        </tr>
        <tr class="trleft">
            <td>Role</td>
            <td id="role" th:text="*{role}">role</td>
        </tr>
        <tr class="trleft">
            <td>Address</td>
            <td id="address" th:text="*{address}">address</td>
        </tr>
        <tr class="trleft">
            <td>Phone</td>
            <td id="phone" th:text="*{phone}">phone</td>
        </tr>
        <tr class="trleft">
            <td>Balance</td>
            <td id="balance" th:text="*{balance}">balance</td>
        </tr>

        </tbody>
    </table>


</div>
<!-- Header with full-height image -->

<table class="table">
    <tbody>
    <tr class="table-header trcenter">
        <th>Date</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Shipment</th>
        <th>Total Price</th>
    </tr>

    <tr class="table-row trcenter" th:each="historyPurcase : ${historyPurcase}">
        <td th:text="${historyPurcase.historyDate}"></td>
        <td th:text="${historyPurcase.productName}"></td>
        <td th:text="${historyPurcase.quantity}"></td>
        <td th:text="${historyPurcase.shipVia}"></td>
        <td th:text="${historyPurcase.totalPrice}"></td>
    </tr>
    </tbody>
</table>

<!-- Footer -->
<footer th:replace="~{layout :: footer}"></footer>

<script>
</script>

</body>
</html>
