<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TrollMarket</title>

    <link rel="stylesheet" th:href="@{/css/login-style.css}">
    <link href="/src/main/resources/static/css/login-style.css" rel="stylesheet">

    <!--    <script th:src="@{/js/login.js}" defer></script>-->
    <!--    <script src="../static/js/login.js" defer></script>-->

</head>
<body>
<main>
<div id="container">
    <h1>TROLL MARKET</h1>
    <div id="tabs">
        <p class="tabs" id="lt">Log in</p>
        <p class="tabs" id="rt">Register</p>
        <div id="clear"></div>
    </div>
    <form method="post" th:action="@{/authenticating}">
        <div class="comm" id="login">
            <h3>Sign in</h3>
            <input id="username" name="username" placeholder="Username" required type="text"/>
            <input id="password" name="password" placeholder="Password" required type="password"/>
            <button type="submit">Login</button>
            <p onclick="forTabFun()">Forget Password?</p>
        </div>
    </form>
    <form method="post" th:action="@{/user/register}" th:object="${account}">
        <div class="comm" id="register">
            <h3>Register</h3>
            <form method="post">
                <input id="username1" name="username" placeholder="Username" 
                       type="text">
                <input id="password1" name="password" placeholder="Password" 
                       type="password">
                <input placeholder="Re write Password" required type="password"/>
               
                    <select th:field="*{role}">
                        <option th:value=null>No Specific Role</option>
                        <option th:each="option : ${roleDropdown}" th:selected="${option.id == role}"
                                th:text="${option.roleName}" th:value="${option.id}"/>
                    </select>
                
                <input onclick="register()" type="submit" value="Submit"/>
            </form>

        </div>
        <div class="comm" id="forgot">
            <h3>Forgot Password</h3>
            <div>
                <input id="fe" placeholder="Email" required type="email"/>
                <input onclick="forgot()" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>
</body>
</main>

<script>
var emailArray=[];
var passwordArray=[];

var loginBox = document.getElementById("login");
var regBox = document.getElementById("register");
var forgetBox = document.getElementById("forgot");

var loginTab = document.getElementById("lt");
var regTab = document.getElementById("rt");

const ltBtn = document.getElementById("lt");
const rtBtn = document.getElementById("rt");

ltBtn.addEventListener("click", loginTabFun);
rtBtn.addEventListener("click", regTabFun)
function regTabFun(){
    event.preventDefault();

    regBox.style.visibility="visible";
    loginBox.style.visibility="hidden";
    forgetBox.style.visibility="hidden";

    regTab.style.backgroundColor="#e63946";
    loginTab.style.backgroundColor="black";
}
function loginTabFun(){
    event.preventDefault();

    regBox.style.visibility="hidden";
    loginBox.style.visibility="visible";
    forgetBox.style.visibility="hidden";

    loginTab.style.backgroundColor="#e63946";
    regTab.style.backgroundColor="black";
}
function forTabFun(){
    event.preventDefault();

    regBox.style.visibility="hidden";
    loginBox.style.visibility="hidden";
    forgetBox.style.visibility="visible";

    regTab.style.backgroundColor="#e63946";
    loginTab.style.backgroundColor="#e63946";

}

</script>
</html>