<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <title>TrollMarket</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/w3.css}"/>
    <link rel="icon" href="@{/image/TrollMarket.jpg" type="image/ico"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery-3.6.0.min.js}" defer></script>
</head>
<body class="main-body" >

<nav th:replace="~{layout :: navigation}"></nav>

<h1 class="bread-crumbs w3-large">Shop</h1>
<!-- Breadcrumbs -->

<div class="content">

    <table class="trleft">
        <form th:action="@{/shop/index}" method="GET" class="filter">
        <tbody>
        <tr class="trleft">
            <td>Name</td>
            <td>:</td>
            <td><input type="text" placeholder="Name.." name="productName" th:value="${productName}"></td>
        </tr>
        <tr class="trleft">
            <td>Category</td>
            <td>:</td>
            <td><input type="text" placeholder="Category Name.." name="categoryName" th:value="${categoryName}"></td>
        </tr>
        <tr class="trleft">
            <td>Description</td>
            <td>:</td>
            <td><input type="text" placeholder="Description.." name="description" th:value="${description}"></td>
        </tr>
        <tr class="trleft">
            <td><button class="w3-button w3-black" type="submit">Search</button></td>
        </tr>

        </tbody>
        </form>
    </table>


</div>
<!-- Header with full-height image -->

<table class="table">
    <tbody>
    <tr class="table-header trcenter">
        <th colspan="1">Action</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    <tr class="table-row trcenter" th:each="shopList : ${shopList}">
        <td>
            <button class="w3-button w3-black addBtn"> Add to Cart</button>
            <a class="w3-button w3-black detailBtn"  href="javascript:;" th:data-id=${shopList.id}>
                Detail Info
            </a>        </td>
        <td th:text="${shopList.productName}"></td>
        <td th:text="${shopList.unitPrice}"></td>


    </tr>
    </tbody>
</table>

<!-- Footer -->
<footer th:replace="~{layout :: footer}"></footer>

<div id="myModal" class="w3-modal">

    <!-- Modal content -->
    <div class="modal-content2">

        <p>Quantity : </p>
        <input type="text" id="fname" name="fname">
        <p>Shipment:</p>
        <select>
            <option value="volvo">China Ocean Shipping Company </option>
            <option value="saab">DHL</option>
            <option value="opel">A.P. Moller-Maersk </option>
            <option value="audi">Mediterranean Shipping Company</option>
        </select>
        <div><br>
            <button class="w3-button w3-black" > Add to Cart</button>
            <button class="w3-button w3-black close" >Cancel</button>
        </div>

    </div>

</div>
<!-- Modal content -->
<div id="modalDetail" class="w3-modal" >
    <div class="modal-content2">
        <table class="trleft">
            <tbody>
            <tr class="trleft">
                <td>Name</td>
                <td>:</td>
                <td class="productName"></td>
            </tr>
            <tr class="trleft">
                <td>Category</td>
                <td>:</td>
                <td class="categoryName"></td>
            </tr>
            <tr class="trleft">
                <td>Description</td>
                <td>:</td>
                <td class="description"></td>
            </tr>
            <tr class="trleft">
                <td>Price</td>
                <td>:</td>
                <td class="unitPrice"></td>
            </tr>
            <tr class="trleft">
                <td>Seller Name </td>
                <td>:</td>
                <td class="sellerName"></td>
            </tr>


            </tbody>
        </table>
        <div><br>

            <button class="w3-button w3-black close1" >Close</button>
        </div>
    </div>
</div>

</body>

</html>
